.Layout {
    color: black;
    
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #009688;
    color: white;
    padding: 10px;
    box-shadow: #0000005c 0px 1px 20px 6px;
}

.header-title {
    color: white;
    text-decoration: none;
    padding-right: 24px;
}